# Project exclude paths
/.gradle/
/Parking Lot/task/build/
/Parking Lot/task/out/
/Parking Lot/task/out/production/classes/
/Topics/Data class/equals() check/out/
/Topics/Data class/equals() check/out/production/classes/
/Topics/Null safety/Check length/out/
/Topics/Null safety/Check length/out/production/classes/